* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 100%;
  height: 500px;
  border-bottom: 15px solid rgb(35, 160, 35);
  background: linear-gradient(#87ceeb, #e0f6ff);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  right: -80px;
}
.pipe-animate {
  animation: pipe-animation 1.2s infinite linear;
}

.mario {
  position: absolute;
  width: 150px;
  bottom: 0px;
}

.jump {
  animation: jump 500ms ease-out;
}

.cloud {
  position: absolute;
  width: 550px;
  top: 20px;
  animation: cloud-animation 20s infinite linear;;
}

.instructions {
  margin: 20px auto;
  text-align: center;
}

.start-button {
  width: 150px;
  margin-top: 10px;
}

.game-over {
  margin-top: 300px;
  text-align: center;
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  40% {
    bottom: 180px;
  }
  50% {
    bottom: 180px;
  }
  60% {
    bottom: 180px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

@keyframes cloud-animation {
  from {
    right: -550px;
  }
  to {
    right: 100%;
  }
}